{% extends "base.html" %}
{% block title %}
  {{ pill.title }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if pill.image %}
          <a href="{{ pill.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ pill.image.url }}" style="width: 600px; height: 400px;">
          </a>
        {% endif %}
        <h5 class="card-title">{{ pill.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {% if not pill.is_published %}
              <p class="text-danger">Препарат снят с публикации админом</p>
            {% elif not pill.category.is_published %}
              <p class="text-danger">Выбранная категория снята с публикации админом</p>
            {% endif %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Активное вещество</th>
                  <th>Форма выпуска</th>
                  <th>Производитель</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ pill.display_active_substance }}</td>
                  <td>{{ pill.medicine_form }}</td>
                  <td>{{ pill.manufacturer }}</td>
                </tr>
              </tbody>
            </table>
          </small>
        </h6>
        <p class="card-text">{{ pill.description|linebreaksbr }}</p>
        {% if request.user.is_staff %}
          <div class="row">
            <div class="col-8 mb-2">
              <a class="btn btn-sm" href="{% url 'pillbox:edit_pill' pill.id %}" role="button" style="background-color: rgba(25, 135, 84, 0.50); color: white; padding: 4px 8px; border-radius: 8px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); transition: all 0.3s ease;">
                Отредактировать публикацию
              </a>
              <a class="btn btn-sm" href="{% url 'pillbox:delete_pill' pill.id %}" role="button" style="background-color: rgba(139, 0, 0, 0.50); color: white; padding: 4px 8px; border-radius: 8px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); transition: all 0.3s ease;">
                Удалить публикацию
              </a>
            </div>
          </div>
        {% endif %}
        {% include "includes/comments.html" %}
      </div>
    </div>
  </div>
{% endblock %}