{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit/' in request.path %}
    Редактирование таблетницы
  {% elif "/delete/" in request.path %}
    Удаление таблетницы
  {% else %}
    Добавление таблетницы
  {% endif %}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header bg-success bg-opacity-25">
        {% if '/edit/' in request.path %}
          Редактирование таблетницы
        {% elif '/delete/' in request.path %}
          Удаление таблетницы
        {% else %}
          Добавление таблетницы
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Отправить" style="background-color: rgba(25, 135, 84, 0.50); color: white; padding: 6px 25px; border-radius: 8px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); transition: all 0.3s ease;" %}
          {% else %}
            <article>
              <h3>{{ form.instance.pill }}</h3>
              <p>Количество{{ form.instance.amount}}</p>
              <p>Осталось дней приема: {{ form.instance.remaining_days}}</p>
              {% bootstrap_button button_type="submit" content="Удалить препарат" style="background-color: rgba(25, 135, 84, 0.50); color: white; padding: 6px 25px; border-radius: 8px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); transition: all 0.3s ease;" %}
            </article>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}