{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Пароль успешно изменён!
      </div>
      <div class="card-body">
        <a href="{% url 'pages:homepage' %}" class="btn" style="background-color: rgba(29, 122, 144, 0.50); color: white; padding: 6px 25px; border-radius: 8px; border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); transition: all 0.3s ease;">
          На главную
        </a>
      </div>
    </div>
  </div>
{% endblock %}