{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header bg-success bg-opacity-25">
        О проекте
      </div>
      <div class="card-body">
        <p>
          Таблетница — это веб-приложение для эффективного управления
          лекарственными препаратами и их систематизации. Проект создан для 
          помощи пользователям в организации и контроле приема медикаментов.
        </p>
        <p>
          Проект «Таблетница» призван сделать процесс управления лекарствами 
          более организованным и эффективным, помогая пользователям следить 
          за своим здоровьем и своевременно принимать необходимые препараты.
        </p>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            {% for tab in tabs %}
              <!-- Кнопка в заголовке -->
              <h2 class="accordion-header" id="headingOne{{ forloop.counter }}">
                <button class="accordion-button bg-success bg-opacity-10 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                  {{ tab.title }}
                </button>
              </h2>
              <!-- Тело (содержимое) -->
              <div id="collapseOne{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ forloop.counter }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% if tab.strong_text %}
                    <strong>{{ tab.strong_text }}.</strong>
                  {% endif %}
                  {{ tab.text|safe }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}