{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <h3>Правила сайта</h3> 
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <!-- Начало аккардиона -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          {% for tab in tabs %}
            <!-- Кнопка в заголовке -->
            <h2 class="accordion-header" id="headingOne{{ forloop.counter }}">
              <button class="accordion-button bg-success bg-opacity-10 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                {{ tab.title }}
              </button>
            </h2>
            <!-- Тело (содержимое) -->
            <div id="collapseOne{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ forloop.counter }}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% if tab.strong_text %}
                  <strong>{{ tab.strong_text }}.</strong>
                {% endif %}
                {{ tab.text|safe }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}